body {
    background-color: #80d4ea;
}

.clocks {
  width: 100%;
  text-align: center;
  font-family: courier, monospace;
  font-size: 100px;
  color: black;
}

#local-clock {
    background-color: yellow;
}

#hawaii-clock {
    background-color: orange;
}
